extends layout

block content
  form(action="/users/me/appointments/new" method="post")
    div.form-group
      label Date and Time:
      div.input-group.date#datetimepicker1
        input.form-control(type="text", name="date")
        span.input-group-addon
          span.glyphicon.glyphicon-calendar
    div.form-group
      label Subject:
      input.form-control(type="text", name="subject")
    div.form-group
      label Doctor:
      select.form-control(type="select", name="doctor")
        each doctor in doctors
          option(value=doctor._id) #{doctor.name}
    div.form-group.hidden
      input.form-control(type="text", name="patient" value=patient)
    div.form-group.hidden
      input.form-control(type="text", name="token" value=token)
    div
      input.btn.btn-primary(type="submit", value="Submit")
