extends layout

block content
  form(action="/login" method="post")
    div.form-group
      label Username:
      input.form-control(type="text", name="username")
    div.form-group
      label Password:
      input.form-control(type="password", name="password")
    div
      input(type="submit", value="Log in").btn.btn-default
